

#sobrenos .col-md-8 h2{
	color: #E39153 ; 
	text-transform: uppercase;
	font-family: 'Open-Sans';
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
}

#sobrenos .col-md-8 p{
	font-family: 'Open-Sans';
	font-size: 20px; 
	text-align: left;
	margin-top: 30px;
	margin-bottom: 0;
}

#sobrenos .col-md-4 h3{
	text-align: center;
	margin-top: 30px;
	margin-left: 85px;
	font-family: 'Open-Sans';
	font-size: 20px;

}

#sobrenos .col-md-4 p {
	text-align: center;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 20px;
	font-family: 'Open-Sans';
	margin-bottom: 80px;
}

#sobrenos .col-md-4 img{
	margin-left: 150px;
	margin-top: 30px;
	border-radius: 50%;


}


