@font-face {
	font-family: 'Open-Sans';
	src: url("../fonte/static/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Open-Sans-Light';
	src: url("../fonte/static/OpenSans-Light.ttf");
	font-size: 1em;
}





body h3 {
	font-family: 'Open-Sans';
	text-align: center;
	color: #E39153;
	text-transform: uppercase;
	font-size: 48px;
	margin-top: 100px;
	margin-bottom: 50px;
}

label {
	font-family: 'Open-Sans';
	margin-left: 600px;
}


#emailusuario {
	width: 400px;
	display: inline-block;
	padding: 4;


}

#contausuario {
	width: 400px;
	display: inline-block;
	padding: 4;
}

#nomeusuario {
	width: 400px;
	display: inline-block;
	padding: 4;
}

#nomeinvalido {
    color: red;
    margin-left: 655px;
    position: absolute;
    margin-top: -20px;
}

#sobrenomeusuario {
	width: 400px;
	display: inline-block;
	padding: 4;
}

#sobrenomeinvalido {
    color: red;
    margin-left: 655px;
    position: absolute;
    margin-top: -20px;
}

#generousuario {
	width: 400px;
	display: inline-block;
	padding: 4;
}

#insiragenero {
	color: red;
	margin-left: 600px;
	margin-top: -30px;
}

#senhausuario {
	width: 400px;
	display: inline;
	padding: 4;
}
 
#emailinvalido{
	color: red;
	margin-left: 600px;

}

#senhainvalida {
	margin-left: 600px;
	color: grey;
	position: absolute;
	margin-top: -20px;
}


 .lugardaconfirmacao {
	margin-top: -30px;
}

.lugardaconfirmacao small {
	color: red;
	margin-left: 715px;
	position: absolute;
	margin-top: -25px;
	left: 160px;
}

#confirmacaosenha {
	width: 400px;
	display: inline-block;
	padding: 4;
}

#termosdeuso {
	padding: 20px;
	margin-left: 600px;
}

#checkacordo {
	margin-left: 600px;
}

label.check {
	margin-left: 10;
}

form button {
		margin-left: 600px;
		margin-bottom: 100px;
}