@font-face {
	font-family: 'Open-Sans';
	src: url("../fonte/static/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Open-Sans-Light';
	src: url("../fonte/static/OpenSans-Light.ttf");
	font-size: 1em;
}


.titulo {
    margin-top: 5em;
    margin-left: 23em;
    color: #E39153 

}

h1 {
    width: 16em;
    font-family: 'Open-Sans';
}

.texto {
    margin-top: 2em;
    margin-left: 15em;
    margin-bottom: 8em;
}

#a {
	font-family: 'Open-Sans-Light';
}

#email {
width: 20%;
}