
#noticias {
	position: relative;
	top: -90px;
}

#noticias h2{
	color: #E39153;
	text-transform: uppercase;
	font-family: 'Open-Sans';
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
}

#noticias hr {
	color: #E39153;
	width: 200px;
	margin: 5px auto ;

}

#noticias .thumbnails {
	margin-top: 40px;
}


#noticias .thumbnails h3 {
	color: #E39153;
	font-size: 18px;
	font-family: 'Open-Sans';
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
}

#noticias .thumbnails time{
	color: #A7A7A7;
}

#noticias .thumbnails .item-inner{
	padding: 15px;
}

#noticias .thumbnails .item-inner img{
	width: 100%;
}



#estatisticas {
	background-color: #E39153;
	width: 100%;
	height: 200px;
	text-align: center;
}

#estatisticas p {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open-Sans-Light';
	font-size: 44px;
	margin-top: 36px;
}

#estatisticas p small{
	font-size: 24px;
	display: block;

}

.call-to-action p{
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}


#call-to-action{
	text-align: center;

}

#call-to-action h2{
	color: #E39153;
	text-transform: uppercase;
	font-family: 'Open-Sans';
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
}

#call-to-action hr{
	color: #E39153;
	width: 200px;
	margin: 8px auto ;	
}


#call-to-action .btn-primary{
	color: #fff;
	background-color: #E39153 ;
	border-color:#E39153;
	min-width: 164px;
	height: 44px;


}

#call-to-action .btn-secondary{
	color: #fff;
	background-color: #5D4642;
	border-color: #5D4642 ;
	min-width: 164px;
	height: 44px;


}

#call-to-action div.col-xs-6 {
	text-align: center;
		display: inline-block;
		margin-inline: 40px;
		margin-top: 10px;
		margin-bottom: 120px;
}

