h3{
	width: 525px;
	color: #E39153;
	font-size: 48px;
	font-family: 'Open-Sans';
	text-transform: uppercase;

	display: inline-block;
	}

body .col-usuario {
	padding: 0;
	display: inline-block;
	margin-left: 5%;
}

body .col-cadastro {
	padding: 0;
	display: inline-block;
	margin-left: 55%;
	margin-top: -38.7%;
	
}

body .col-user{
	margin-top: 60px;
	margin-left: 100px;
	font-size: 25px;
	width: 410px;
}


#usuariologin {
	width: 300px;
	display: inline-block;
	margin-left: 10px;
}

body .col-password{
	margin-top: 30px;
	margin-left: 100px;
	font-size: 25px;
	width: 410px;
}

#senhalogin {
	width: 300px;
	display: inline-block;
	margin-left: 27px;
}

body .col-usuario .col-botao {
	margin-top: 30px;
	margin-bottom: 200px;
	margin-left: 100px;
}

#botaousuario{
	width: 407px;
}

body .col-cadastro .col-email{
	font-size: 25px;
	margin-top: 60px;
	margin-left: 80px;
}

#emaillogin{
	width: 400px;
	display: inline-block;
}

body .col-cadastro .col-botao .btn-primary {
	width: 480px;
	margin-top: 30px;
	margin-left: 80px;
}
